<div class="container">
  <div class="row">
    <div class="col-sm-11 offset-1">

      <h1>My Products</h1>

      <div class="container products">
        <% @products.each do |product| %>
          <div class="product clearfix">
            <div class="row">
              <div class="col-1">
                <% if product.voted_by? current_user %>
                <%= link_to product_vote_path(product), method: :delete, class: "product-upvote upvote-active" do %>
                <span class="upvote-arrow"></span>
                <span class="upvote-count"><%= product.votes.count %></span>
                <% end %>
                <% else %>
                <%= link_to product_vote_path(product), method: :post, class: "product-upvote" do %>
                <span class="upvote-arrow"></span>
                <span class="upvote-count"><%= product.votes.count %></span>
                <% end %>
                <% end %>
              </div>

              <% if product.image.exists? %>
              <div class="product-img col-2">
                <%= image_tag product.image.url(:thumb) %>
              </div>
              <% end %>

              <div class="product-details col-7">
                <span class="product-title"><%= link_to product.name, product %></span>
                <span class="product-description"><%= product.description %></span>
              </div>

              <div class="col-sm-1 product-comments">
                <span class="glyphicon">&#128172;</span>
                <span class="comment-count"><%= product.comments.count %></span>
              </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
