<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>My Products</h1>

      <div class="text-right">
        <%= link_to "Create new Product", new_product_path, class: "btn btn-warning" %>
      </div>
      <br>
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>URL</th>
          <th>Description</th>
          <th></th>
        </tr>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name, product, class: "form-cells" %></td>
            <td><%= product.url %></td>
            <td><%= product.description %></td>
            <td><%= link_to "Edit", edit_product_path(product), class: "form-cells" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
