<h1>Hello, world</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>URL</th>
    <th>Description</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.url %></td>
      <td><%= product.description %></td>
    </tr>
  <% end %>
</table>
<%=  %>
