<div class="product-page">
  <header class="product-header">
    <h1><%= @product.name %></h1>
    <p><%= @product.description %></p>
    <a href="<%= @product.url %>" class="btn btn-warning btn-lg" target="_blank">Get it!</a>

    <div class="actions">
      <%= link_to "<span>&#9998;</span>".html_safe, edit_product_path(@product) %>
      <%= link_to "<span>&#128465;</span>".html_safe, @product, method: :delete, data: { confirm: "Are you sure to delete this product?" } %>
    </div>
  </header>


  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-1">
        <div class="votes">
          <h2>Votes</h2>
        </div>

        <div class="comments">
          <h2>Comments</h2>
        </div>
      </div>
    </div>
  </div>
</div>
