<!DOCTYPE html>
<html>
  <head>
    <title>ProductHunt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Product Hunt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
              </form>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <% if signed_in? %>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="<%= Gravatar.new("#{current_user.email}").image_url %>" class="rounded-circle" />
                  <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <%= link_to "Salir", logout_path, method: :delete, class:"dropdown-item btn btn-outline-warning" %>
                  <%= link_to "+".html_safe, new_product_path, class:"dropdown-item btn btn-outline-warning" %>
                </div>
              </li> -->
              <li class="nav-item">
                <%= link_to "Salir", logout_path, method: :delete, class:"btn btn-outline-warning" %>
              </li>
              <li class="nav-item">
                <%= link_to "+".html_safe, new_product_path, class:"btn btn-outline-warning" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Register", new_user_path, class: "btn btn-outline-warning" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log in", login_path, class: "btn btn-outline-warning"%>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-warning">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <!-- <% if signed_in? %>
      <div class="text-right">
        Hi, <%= current_user.name %>! <%= link_to "Log out", logout_path, class: "btn btn-outline-warning", method: :delete %>
      </div>
    <% else %>
      <div class="text-right">
        <%= link_to "Log in", login_path, class: "btn btn-outline-warning"%>
      </div>
    <% end %> -->

    <%= yield %>
  </body>
</html>
